{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">title</th>
        <th scope="col">content</th>
    </tr>
    </thead>
    <!-- articleList처럼 여러 데이터들이 모여있는 리스트를 받으면 그 안에서 반복된다 for문처럼 -->
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">new Article</a>
{{>layout/footer}}